@using SurveyTest.Models
@model SurveyQuestionResult
           
@{ 
    var surveyDef = (BloodPressureQuestionDef)Model.SurveyQuestion.Question;
    string sysPress = string.Empty;
    string diaPress = string.Empty;
    
    if (Model.Answer != null)
    {
        var ans = Model.Answer.Split('/');
        if (ans.Length == 2)
        {
            sysPress = ans[0];
            diaPress = ans[1];
        }
    }
}

<div id='@surveyDef.QuestionName'>
    <label>@surveyDef.PromptText</label>
    @if ((Model.Answer == null) && (Model.SurveyQuestion.Mandatory) && !ViewData.ModelState.IsValid)
    { 
        <span class="error">* Required</span>
    }
    <input type="text" id="@surveyDef.SysName" name="@surveyDef.SysName" maxlength="3" class="detailsTextboxSmall" value="@sysPress" />
    /
    <input type="text" id="@surveyDef.DiaName" name="@surveyDef.DiaName" maxlength="3"  class="detailsTextboxSmall" value="@diaPress" />                                            
    mmHg (if known)
    <br />
</div>
