@using SurveyTest.Models
@model SurveyQuestionResult
@{ 
    var surveyDef = (TextQuestionDef)Model.SurveyQuestion.Question;
}

<div id='@surveyDef.QuestionName'>
    <label>@surveyDef.PromptText</label>
    @if ((Model.Answer == null) && (Model.SurveyQuestion.Mandatory) && !ViewData.ModelState.IsValid)
    { 
        <span class="error">* Required</span>
    }

    @if (surveyDef.SingleLine)
    { 
        @Html.TextBox(surveyDef.ResultName, Model.Answer)
    }
    else 
    { 
        @Html.TextArea(surveyDef.ResultName, Model.Answer)
    }
    
    @surveyDef.QuestionSuffix
</div>
