@model SurveyTest.Areas.Admin.Models.CreateQuestionModel
@{
    ViewBag.Title = "Create new Question";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Question Def</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name, "Name")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FormatId, "Question Format Type")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.FormatId,  (SelectList)ViewBag.QuestionFormats)
            @Html.ValidationMessageFor(model => model.FormatId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PromptText, "Prompt Text")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PromptText)
            @Html.ValidationMessageFor(model => model.PromptText)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
