@model SurveyTest.Repository.question_def

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>question_def</legend>

    <div class="display-label">question_def_id</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.question_def_id)
    </div>

    <div class="display-label">QuestionFormat</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuestionFormat.question_format1)
    </div>

    <div class="display-label">prompt_text</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.prompt_text)
    </div>

    <div class="display-label">question_details</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.question_details)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
