@model IEnumerable<SurveyTest.Repository.question_def>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            ID
        </th>
        <th>
            QuestionFormat
        </th>
        <th>
            Prompt
        </th>
        <th>
            Question Details
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) 
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.question_def_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionFormat.question_format1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prompt_text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.question_details)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.question_def_id }) |
            @Html.ActionLink("Details", "Details", new { id = item.question_def_id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.question_def_id }) 
        </td>
    </tr>
}

</table>
