@model IList<SurveyTest.Models.QuestionDef>
@{
    ViewBag.Title = "Questions";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>QuestionFormat</th>
        <th>Prompt</th>
        <th></th>
    </tr>
@foreach (var item in Model) 
{
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Id)</td>
        <td>@Html.DisplayFor(modelItem => item.Name)</td>
        <td>@Html.DisplayFor(modelItem => item.QuestionCode)</td>
        <td>@Html.DisplayFor(modelItem => item.PromptText)</td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }) 
        </td>
    </tr>
}
</table>

<p>
    @Html.ActionLink("Admin", "Index", "Admin", new { area = "Admin" }, null)
</p>