@model SurveyTest.Models.MultiChoiceQuestionDef

<br />
<table id="OptTable">
    <tr>
        <th>Option</th>
        <th>Value</th>
    </tr>

    @for (var idx = 0; idx < Model.Questions.Count; idx++)
    {
        <tr>
            <td>@Html.EditorFor(m => m.Questions[idx].Text)</td>
            <td>@Html.EditorFor(m => m.Questions[idx].Value)</td>
            <td><a onclick="MoveOption(@idx, -1)">Up</a> | <a onclick="MoveOption(@idx, 1)">Down</a> | <a onclick="RemoveOption(@idx)">Remove</a></td>
        </tr>
    }
</table>
<br />
<div>
    @Html.Label("NewOptTxt", "New Option")
    @Html.TextBox("NewOptTxt")

    @Html.Label("NewOptValue", "Value")
    @Html.TextBox("NewOptValue")
    
    <input id="AddOpt" type="button" value="Add Option" onclick="AddOption()" />
</div>
