@model SurveyTest.Models.YesNoQuestionDef

<div>
    <div class="editor-label">
        @Html.LabelFor(m => m.YesOptionValue, "Yes option value")
    </div>

    <div class="editor-label">
        @Html.TextBoxFor(m => m.YesOptionValue, new { @class = "numeric" })
        @Html.ValidationMessageFor(m => m.YesOptionValue)
    </div>

    <div class="editor-label">
        @Html.LabelFor(m => m.NoOptionValue, "No option value")
    </div>

    <div class="editor-label">
        @Html.TextBoxFor(m => m.NoOptionValue, new { @class = "numeric" })
        @Html.ValidationMessageFor(m => m.NoOptionValue)
    </div>
</div>

