@model SurveyTest.Repository.survey

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>survey</legend>

    <div class="display-label">survey_id</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.survey_id)
    </div>

    <div class="display-label">survey_name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.survey_name)
    </div>

    <div class="display-label">survey_desc</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.survey_desc)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
