@model SurveyTest.Models.SurveyModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Survey</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Id)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Id, new { disabled = "disabled", @readonly = "readonly"} )
            @Html.ValidationMessageFor(model => model.Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <br />

        <div style="float:left;width:35%">
            <table>
                <tr>
                    <th>Question</th>
                    <th>Mandatory</th>
                    <th>Action</th>
                </tr>
                @for (var idx = 0; idx < Model.Questions.Count; idx++ )
                { 
                    <tr>
                        <td>
                            @Html.HiddenFor(model => model.Questions[idx].Id)
                            @Html.DisplayFor(model => model.Questions[idx].Question.Name)
                        </td>
                        <td>@Html.EditorFor(model => model.Questions[idx].Mandatory)</td>
                        <td>@if (idx == 0)  { 
                                @:- 
                            }  else  { 
                                <a onclick="MoveQuestion(@idx, -1)">Up</a>
                            }| 
                            @if (idx == (Model.Questions.Count - 1)) { 
                                @:- 
                            }  else  { 
                                <a onclick="MoveQuestion(@idx, 1)">Down</a>
                            }| 
                            <a onclick="RemoveQuestion(@idx)">Remove</a>
                        </td>
                    </tr>
                }
           
            </table>

        </div>

        <div style="float:left;margin:10px">
            <input id="AddQuestion" type="button" value="<<" />
        </div>

        <div>
            @Html.ListBox("AvailQuestions", (IEnumerable<SelectListItem>)ViewBag.AvailableQuestions)
        </div>
        
        <div style="clear:both"></div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script  type="text/javascript">
    $(document).ready(function () {
        $('#AddQuestion').click(function AddQuestion(event) {
            var selvals = $('#AvailQuestions').find(":selected");

            if (selvals.length == 0) {
                alert('No Questions Selected');
            } else {
                var str = "";
                selvals.each(function () { str += $(this).val() + ","; });
                str = str.substring(0, str.length - 1);
                $.post('@Url.Action("AddQuestions", new { id = Model.Id })', { questionIds : str }, function (data, ts, x) { location.reload(true); });
            }
        });
    });

    function MoveQuestion(idx, direction) {
        $.post('@Url.Action("MoveQuestion", new { id = Model.Id })', { questionIdx: idx, direction: direction }, function (data, ts, x) { location.reload(true); });
    }
    function RemoveQuestion(idx) {
        $.post('@Url.Action("RemoveQuestion", new { id = Model.Id })', { questionIdx: idx }, function (data, ts, x) { location.reload(true); });
    }
</script>

