@model SurveyTest.Models.SurveyModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>survey</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Id)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Id, new { disabled = "disabled", @readonly = "readonly"} )
            @Html.ValidationMessageFor(model => model.Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div>
            <table>
                <tr>
                    <th>Question</th>
                    <th>Order</th>
                    <th>Mandatory</th>
                </tr>
                @{ var idx = 0; }
                @foreach (var sq in Model.Questions.OrderBy(x => x.Order))
                { 
                    <tr>
                        <td>@Html.DisplayText(sq.QuestionDef.Name)</td>
                        <td>@Html.DisplayText(sq.Order.ToString())</td>
                        <td>@Html.DisplayText(sq.Mandatory.ToString())</td>
                    </tr>
                }
            </table>
        </div>


        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
