@model IEnumerable<SurveyTest.Repository.survey>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th><i>Actions</i></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.survey_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.survey_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.survey_desc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.survey_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.survey_id }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.survey_id  })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Admin", "Index", "Admin", new { area = "Admin" }, null)
</p>